.bg-right {
  width: 72vw;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .bg-right {
    width: 100vw;
    margin-top: 25vw;
  }
}
